{% extends 'website/base.html' %}
{% block body %}
<h1>Update Task</h1>
<br/>
<form action="" method=POST>
    {% csrf_token %}
    <input type="text" class="form-control" placeholder="Update Task" id="add_text_input_1" name="name" value="{{ task.name }}" required/>
    <br/>
    {% if task.description is None or task.description == "" %}
    <input type="textarea" class="form-control" id="add_text_input_2" name="description" placeholder="None" />
    {% else %}
    <input type="textarea" class="form-control" id="add_text_input_2" name="description" value="{{ task.description }}" />
    {% endif %}
    <br/>
    <input type="submit" class="btn btn-outline-secondary" value="Update" />
    <a href="{% url 'website:task' task.id %}" class="btn btn-outline-danger" tabindex="-1" role="button">Cancel</a>
<br/><br/>
</form>
{% endblock %}